.location {
  position: relative;

  &__list {
    position: relative;
    z-index: 10;
    --background-image: none;
    --opacity: 0;

    @include lg {
      display: flex;
      justify-content: space-between;
      min-height: 552px;
      
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40) 100%);
      }

      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        background-image: var(--background-image);
        background-position: center;
        background-size: cover;
        opacity: var(--opacity);
      }
    }

    @include xl {
      min-height: 780px;
    }

    @include xxl {
      min-height: 100vh;
      max-width: 2560px;
      margin: 0 auto;
    }
  }

  &__item {
    position: relative;
    min-height: 273px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40) 100%);
    padding: 50px 16px;


    @include sm {
      min-height: 200px;
      padding-left: 32px;
      padding-right: 32px;
    }

    @include lg {
      width: 20%;
      background-image: none;
      padding: 0;
    }

    &:not(:last-child):after {
      content: '';
      position: absolute;
      z-index: 5;
      bottom: 0;
      right: 50%;
      display: block;
      height: 1px;
      width: calc(100% - 32px);
      background-color: $second;
      transform: translate(50%, 1px);

      @include lg {
        bottom: 50%;
        right: 0;
        height: calc(100% - 186px);
        width: 1px;
        transform: translate(1px, 50%);
      }

      @include xl {
        height: calc(100% - 200px);
      }
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      inset: 0;
      background-size: cover;
      background-position: center;

      @include lg {
        background-image: none;
      }
    }

    &_mammals::before {
      background-image: url('../img/mammals.jpg');
      background-image: 
        image-set(
          url('../img/mammals@2x.webp') 2x,
          url('../img/mammals@2x.jpg') 2x,
          url('../img/mammals.webp') 1x,
          url('../img/mammals.jpg') 1x);

      @include sm {
        background-image: url('../img/mammals_tablet.jpg');
        background-image: 
          image-set(
            url('../img/mammals_tablet@2x.webp') 2x,
            url('../img/mammals_tablet@2x.jpg') 2x,
            url('../img/mammals_tablet.webp') 1x,
            url('../img/mammals_tablet.jpg') 1x);
      }

      // @include lg {
      //   background-image: url('../img/mammals_laptop.jpg');
      //   background-image: 
      //     image-set(
      //       url('../img/mammals_laptop@2x.webp') 2x,
      //       url('../img/mammals_laptop@2x.jpg') 2x,
      //       url('../img/mammals_laptop.webp') 1x,
      //       url('../img/mammals_laptop.jpg') 1x);
      // }
    }

    &_birds::before {
      background-image: url('../img/birds.jpg');
      background-image:
        image-set(url('../img/birds@2x.webp') 2x,
          url('../img/birds@2x.jpg') 2x,
          url('../img/birds.webp') 1x,
          url('../img/birds.jpg') 1x);

      @include sm {
        background-image: url('../img/birds_tablet.jpg');
        background-image:
          image-set(
            url('../img/birds_tablet@2x.webp') 2x,
            url('../img/birds_tablet@2x.jpg') 2x,
            url('../img/birds_tablet.webp') 1x,
            url('../img/birds_tablet.jpg') 1x);
      }

      // @include lg {
      //   background-image: url('../img/birds_laptop.jpg');
      //   background-image:
      //     image-set(
      //       url('../img/birds_laptop@2x.webp') 2x,
      //       url('../img/birds_laptop@2x.jpg') 2x,
      //       url('../img/birds_laptop.webp') 1x,
      //       url('../img/birds_laptop.jpg') 1x);
      // }
    }

    &_reptiles::before {
      background-image: url('../img/reptiles.jpg');
      background-image:
        image-set(url('../img/reptiles@2x.webp') 2x,
          url('../img/reptiles@2x.jpg') 2x,
          url('../img/reptiles.webp') 1x,
          url('../img/reptiles.jpg') 1x);

      @include sm {
        background-image: url('../img/reptiles_tablet.jpg');
        background-image:
          image-set(
            url('../img/reptiles_tablet@2x.webp') 2x,
            url('../img/reptiles_tablet@2x.jpg') 2x,
            url('../img/reptiles_tablet.webp') 1x,
            url('../img/reptiles_tablet.jpg') 1x);
      }

      // @include lg {
      //   background-image: url('../img/reptiles_laptop.jpg');
      //   background-image:
      //     image-set(
      //       url('../img/reptiles_laptop@2x.webp') 2x,
      //       url('../img/reptiles_laptop@2x.jpg') 2x,
      //       url('../img/reptiles_laptop.webp') 1x,
      //       url('../img/reptiles_laptop.jpg') 1x);
      // }
    }

    &_water::before {
      background-image: url('../img/water.jpg');
      background-image:
        image-set(url('../img/water@2x.webp') 2x,
          url('../img/water@2x.jpg') 2x,
          url('../img/water.webp') 1x,
          url('../img/water.jpg') 1x);

      @include sm {
        background-image: url('../img/water_tablet.jpg');
        background-image:
            image-set(
              url('../img/water_tablet@2x.webp') 2x,
              url('../img/water_tablet@2x.jpg') 2x,
              url('../img/water_tablet.webp') 1x,
              url('../img/water_tablet.jpg') 1x);
      }

      // @include lg {
      //   background-image: url('../img/water_laptop.jpg');
      //   background-image:
      //       image-set(
      //         url('../img/water_laptop@2x.webp') 2x,
      //         url('../img/water_laptop@2x.jpg') 2x,
      //         url('../img/water_laptop.webp') 1x,
      //         url('../img/water_laptop.jpg') 1x);
      // }
    }

    &_insects::before {
      background-image: url('../img/insects.jpg');
      background-image:
        image-set(url('../img/insects@2x.webp') 2x,
          url('../img/insects@2x.jpg') 2x,
          url('../img/insects.webp') 1x,
          url('../img/insects.jpg') 1x);

      @include sm {
        background-image: url('../img/insects_tablet.jpg');
        background-image:
            image-set(
              url('../img/insects_tablet@2x.webp') 2x,
              url('../img/insects_tablet@2x.jpg') 2x,
              url('../img/insects_tablet.webp') 1x,
              url('../img/insects_tablet.jpg') 1x);
      }

      // @include lg {
      //   background-image: url('../img/insects_laptop.jpg');
      //   background-image:
      //       image-set(
      //         url('../img/insects_laptop@2x.webp') 2x,
      //         url('../img/insects_laptop@2x.jpg') 2x,
      //         url('../img/insects_laptop.webp') 1x,
      //         url('../img/insects_laptop.jpg') 1x);
      // }
    }
  }

  &__content {
    @include lg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: rotate(-90deg) translate(-50%, -50%);
      transform-origin: top left;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 1000;
    line-height: 1;
    text-transform: uppercase;
    color: $back;
    white-space: nowrap;
    margin-bottom: 16px;

    @include lg {
      color: $second;
      text-align: center;
      padding: 0 20px;
      margin-bottom: 0;
    }

    @include xl {
      font-size: 32px;
      padding: 0 30px;
    }
  }

  &__description {
    color: $second;

    @include lg {
      display: none;
      font-size: 16px;
      text-align: center;
      padding: 0 20px;
    }

    @include xl {
      font-size: 20px;
      padding: 0 30px;
    }
  }

  &__video-bg {
    display: none;

    @include lg {
      display: block;
    }
  }
}
